h2 {

}

a.title{
font-size: 80px;
color:white;
  text-decoration:none;

}
a.titleindex{
font-size: 80px;
color:white;
  text-decoration:none;
  text-align: left;

}

body {
  background-color: #999;
  font-family: 'VT323', monospace;
  color: white;
    text-align: left;
}

h2 {

}

a {
  font-size: 25px;
  text-align: center;
    color: blue;
}

a.computer {
  font-size: 25px;
  text-align: center;
    color: black;
}

a.typeface {
  font-size: 25px;
  text-align: center;
    color: red;
}
    


